<%- include('header.ejs') -%>

    <body>
        <div class="box">
            <h1 id="heading">
                <%= listTitle %>
            </h1>
        </div>
        <div class="box">
            <% item.forEach(function (item) {%>
                <form action="/delete" method="POST">
                    <div class="item"> 
                        <input type="checkbox" name="checkbox" value="<%= item._id %>" onchange="this.form.submit()" ></input>
                        <p>
                            <%= item.name %>
                        </p>
                    </div>
                    <input type="hidden" name="listName" value="<%= listTitle %>">
                </form>
        <%}) %>
            <form action="/" method="post" class="item">
                <input type="text" name="task" placeholder="New task" autocomplete="off"></input>
                <button name="list" value="<%= listTitle%>" type="submit">+</button>
            </form>
            </div>
            <%- include('footer.ejs') -%>